@media only screen and (min-width: $breakpoint-small) {width: 80%;}

@media only screen and (min-width: 60em) { /* 960px */
 .container {
   width: 75%;
   max-width: 60rem;
 }


body{
  width: 100%;
  font-family: "Helvetica Neue",Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: black;
}
