body{
  width: 100%;
  font-family: "Helvetica Neue",Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: grey;
}
.container {
    background-color: pink;
}
button{
  border-radius: 30%;
  width: 30%;
  height: 30%;
}
